body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: repeating-linear-gradient(teal,#B19CD9, #B19CD9,teal);
}

main {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 70px;
    background-color: rgba(35, 35, 39, 0.233);
    font-size: 2em;
    border: solid;
    border-color: rgb(76, 31, 117);
    margin: 15%;
}

.header {
    font-style: bold;
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 3px;
}

.addition {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtraction {
    display: flex;
    justify-content: center;
    align-items: center;
}
.multiplication {
    display: flex;
    justify-content: center;
    align-items: center;
}

.division {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border-radius: 20px;
    border: solid 2px black;
    padding: 6px;
    margin: 8px;
}

button {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 6px;
    width: 75px;
    border-color: rgb(226, 20, 20);
    margin-right: 8px;
}

.result {
    margin: 8px;
}