body {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    padding: 70px;
    background-image: linear-gradient(teal,#B19CD9);
    font-size: 2em;
    border: solid;
    border-image: 
    linear-gradient(
    to bottom, 
    purple, 
    rgba(233, 17, 17, 0)
    ) 1 100%;

}

.header {
    font-style: bold;
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.addition {
    padding: 10px;
}

input {
    border-radius: 20px;
    border: solid 2px black;
    padding: 6px;
}

button {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 6px;
}